<div class="form-row">
  <label for="">First Name:</label>
  <input
    type="text"
    name="firstName"
    pattern="[A-Za-z ]{2,10}"
    title="Name cannot have number and has length between 2 and 10 characters"
    value="<%= typeof firstName != 'undefined' ? firstName : user.firstName %>"
    required
  />
</div>

<div class="form-row">
  <label for="">Last Name:</label>
  <input
    type="text"
    name="lastName"
    pattern="[A-Za-z ]{2,10}"
    title="Name cannot have number and has length between 2 and 10 characters"
    value="<%= typeof lastName != 'undefined' ? lastName : user.lastName %>"
    required
  />
</div>

<div class="form-row">
  <label for="">Phone Number:</label>
  <input
    type="tel"
    onkeydown="phoneNumberFormatter()"
    id="phoneNum"
    name="phoneNum"
    pattern="^\([0-9]{3}\) [0-9]{3}-[0-9]{4}$"
    value="<%= typeof phoneNum != 'undefined' ? phoneNum : user.phoneNum %>"
    title="Enter 10 digits phone number"
    required
  />
</div>

<div class="form-row">
  <label for="">Email:</label>
  <input
    type="email"
    name="email"
    value="<%= typeof email != 'undefined' ? email : user.email %>"
    required
  />
</div>
<div class="form-row">
  <label for="">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,&,_]).{9,}"
    title="Must contain at least one number,one uppercase, one lowercase, one special, no space and length 9 or more"
    value="<%= typeof password != 'undefined' ? password : '' %>"
    required
  />
  <i class="bi-eye-slash" id="togglePassword"></i>
</div>

<div id="password-requirements">
  <div id="requirement-title">A valid password must have:</div>
  <p id="number" class="invalid">at least 1 number</p>
  <p id="lower" class="invalid">at least 1 lowercase letter</p>
  <p id="upper" class="invalid">at least 1 uppercase letter</p>
  <p id="special" class="invalid">at least 1 special character</p>
  <p id="length" class="invalid">minimum length of 9 characters</p>
  <p id="space" class="valid">No space</p>
</div>
