<form action="/users/logout" method="POST">
  <div style="text-align: right">
    <button class="btn btn-warning" type="submit">LogOut</button>
  </div>
</form>

<form
  id="profile-form"
  action="/users/<%= user.id %>/profile?_method=PUT"
  method="post"
>
  <div class="form-title">Update Profile</div>
  <div
    style="
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: space-between;
    "
  >
    <div>
      <div>
        <div>
          <img
            height="150"
            width="100"
            src="<%= user.profileImagePath %>"
            alt="A profile's picture of user"
          />
        </div>
        <label for="profile">Upload new profile image</label>
        <input type="file" name="profile" id="profile" class="filepond" />
      </div>
      <div class="form-row">
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" cols="30" rows="10">
<%= user.bio %></textarea
        >
      </div>
    </div>

    <div class="form-ctn"><%- include('../partials/_form_fields') %></div>

    <div class="form-ctn">
      <div class="form-row">
        <label for="">Street Address:</label>
        <input
          type="text"
          name="streetAddress"
          value="<%= user.streetAddress %>"
        />
      </div>

      <div class="form-row">
        <label for="">City:</label>
        <input
          type="text"
          name="city"
          pattern="[A-Za-z ]{2,10}"
          title="City cannot have number"
          value="<%= user.city %>"
        />
      </div>

      <div class="form-row">
        <label for="state">State:</label>
        <input
          type="text"
          name="state"
          pattern="[A-Z]{2}"
          title="Enter state's abbreviation"
          value="<%= user.state %>"
        />
      </div>

      <div class="form-row">
        <label for="">Zipcode:</label>
        <input
          type="text"
          name="zipcode"
          pattern="[0-9]{5}"
          title="Enter 5 digits ZipCode"
          value="<%= user.zipcode %>"
        />
      </div>
    </div>
    <div class="form-ctn">
      <!-- Top 8 common food allergens (ref https://www.fda.gov/food/buy-store-serve-safe-food/food-allergies-what-you-need-know) -->
      <div class="form-row">
        <label for="">Do you have food allergies?</label>
        <select
          name="allergies"
          id="allergies-answer"
          onchange="showAllergens('food-allergy-selection', this)"
        >
          <% if (user.allergies === 'Yes') { %>
          <option value="Yes" selected>Yes</option>
          <option value="No">No</option>
          <% } else { %>
          <option value="Yes">Yes</option>
          <option value="No" selected>No</option>
          <% } %>
        </select>
      </div>

      <div
        id="food-allergy-selection"
        style="display: none; margin: 10px 20px 0px 20px"
      >
        <div>Select all food allergies that you have:</div>
        <div>
          <input type="checkbox" id="Milk" name="allergens" value="Milk" <%=
          user.allergiesSelections.includes("Milk") ? 'checked' : '' %> />
          <label for="Milk">Milk</label>
        </div>
        <div>
          <input type="checkbox" id="eggs" name="allergens" value="Eggs" <%=
          user.allergiesSelections.includes("Eggs") ? 'checked' : '' %> />
          <label for="eggs">Eggs</label>
        </div>
        <div>
          <input type="checkbox" id="fish" name="allergens" value="Fish" <%=
          user.allergiesSelections.includes("Fish") ? 'checked' : '' %> />
          <label for="fish">Fish</label>
        </div>
        <div>
          <input type="checkbox" id="crustaceanShellFish" name="allergens"
          value="CrustaceanShellfish" <%=
          user.allergiesSelections.includes("CrustaceanShellfish") ? 'checked' :
          '' %> />
          <label for="crustaceanShellFish"
            >Crustacean Shellfish (e.g., crab, lobster, shrimp)</label
          >
        </div>
        <div>
          <input type="checkbox" id="treeNuts" name="allergens" value="TreeNuts"
          <%= user.allergiesSelections.includes("TreeNuts") ? 'checked' : '' %>
          />
          <label for="treeNuts"
            >Tree Nuts (e.g., almonds,walnuts, pecans)</label
          >
        </div>
        <div>
          <input type="checkbox" id="peanuts" name="allergens" value="Peanuts"
          <%= user.allergiesSelections.includes("Peanuts") ? 'checked' : '' %>
          />
          <label for="peanuts">Peanuts</label>
        </div>
        <div>
          <input type="checkbox" id="wheat" name="allergens" value="Wheat" <%=
          user.allergiesSelections.includes("Wheat") ? 'checked' : '' %> />
          <label for="wheat">Wheat</label>
        </div>
        <div>
          <input type="checkbox" id="soybeans" name="allergens" value="Soybeans"
          <%= user.allergiesSelections.includes("Soybeans") ? 'checked' : '' %>
          />
          <label for="soybeans">Soybeans</label>
        </div>
        <div>
          <% const commonAllergens = ["Milk", "Eggs", "Fish",
          "CrustaceanShellfish", "TreeNuts", "Peanuts", "Wheat", "Soybeans"] %>
          <input type="checkbox" id="others" name="allergens" value="other"
          onclick="displayOtherInput(this)" <%= user.allergies === "No" ? '' :
          commonAllergens.includes(user.allergiesSelections[user.allergiesSelections.length
          - 1]) === false ? 'checked' : '' %> />
          <label for="others"
            >Others, please specify (seperate by comma):</label
          >
          <div class="form-row">
            <input
              type="text"
              id="otherAllergens"
              name="otherAllergens"
              style="display: none"
              value="<%= user.allergiesSelections.filter((element) => !commonAllergens.includes(element)) %>"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center; margin-bottom: 60px">
    <a class="btn btn-secondary" href="/users/<%= user.id %>/profile">Cancel</a>
    <button class="btn btn-danger" type="submit">Update</button>
  </div>
</form>
